* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 50px;
    background: #556B2F;
    position: fixed;
    top: 0;
}

.footer {
    width: 100%;
    height: 50px;
    background: #556B2F;
    position: fixed;
    bottom: 0;
}